

{% extends 'base.html' %}

{% block content %}

<style type="text/css">
	.sidenav {
	  height: 100%; /* Full-height: remove this if you want "auto" height */
	  width: 160px; /* Set the width of the sidebar */
	  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	  z-index: 1; /* Stay on top */
	  top: 0; /* Stay at the top */
	  left: 0;
	  background-color: #111; /* Black */
	  overflow-x: hidden; /* Disable horizontal scroll */
	  padding-top: 20px;
	}

/* The navigation menu links */
	.sidenav a {
	  padding: 6px 8px 6px 16px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #818181;
	  display: block;
	}

	.description {
		color: white;
	}

	.tab {
		margin: auto;
		width: 75%;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	.tab button:hover {
		background-color: #ddd;
	}

	.tab button:active {
		background-color: black;
		text-color: white;
	}

	.log {
		margin: auto;
		width: 75%;
		padding: 10px;
		text-align: center;
		text-size: 100px;
	}

	.logOutput {
		height: 700px;
		width: 75%;
		border: 1px solid grey;
		overflow: auto;
		margin: auto;
	}

	.subDes {
		text-align: right;
		color: darkgrey;
	}

	.overview {
	}
</style>
	<body>
		<div class="sidenav">


			<div class="overview">
				<h2 class="description">7 Days</h2>
				<h4 class="subDes" id="7_days">Status: down</h4>
			</div>
			<div class="overview">
				<h2 class="description">Chores</h2>
				<h4 class="subDes" id="chores">Status: down</h4>
			</div>
			<div class="overview">
				<h2 class="description">Database</h2>
				<h4 class="subDes" id="database">Status: down</h4>
			</div>
			<div class="overview">
				<h2 class="description">Mumble</h2>
				<h4 class="subDes" id="mumble">Status: down</h4>
			</div>
			<div class="overview">
				<h2 class="description">Traefik</h2>
				<h4 class="subDes" id="traefik">Status: down</h4>
			</div>
			<div class="overview">
				<h2 class="description">Whoami</h2>
				<h4 class="subDes" id="whoami">Status: down</h4>
			</div>
			<div class="overview">
				<h2 class="description">Wiki</h2>
				<h4 class="subDes" id="wiki">Status: down</h4>
			</div>
		</div>
		<div class = "tab">
			<form action="/" method="POST">
				{% csrf_token %}
				<button type="submit" name="con" class="tablink" value="7_Days">7 Days</button>
				<button type="submit" name="con" class="tablink" value="Chores">Chores</button>
				<button type="submit" name="con" class="tablink" value="Git">Git</button>
				<button type="submit" name="con" class="tablink" value="Mumble">Mumble</button>
				<button type="submit" name="con" class="tablink" value="Postgres">Postgres</button>
				<button type="submit" name="con" class="tablink" value="Synapse">Synapse</button>
				<button type="submit" name="con" class="tablink" value="Traefik">Traefik</button>
				<button type="submit" name="con" class="tablink" value="Wiki">Wiki</button>
			</form>
		</div>


		<div class="logOutput" id="logOutput"> 
		</div>
	<script>
//		changeText( {{data}} );
		document.cookie='curPage={{data}}';
//		changeText("dfkj");
		getRefreshData();
		var myVar = setInterval(getRefreshData,1000);
//		var timeData = setInterval(working, 1000);

		function getRefreshData(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange=function() {
				checkIfOn( this.responseText );
				setBody( this.responseText );
			}
			xhttp.open("POST", "{% url 'data_refresh' %}",true);
//			xhttp.setRequestHeader("csr_ftoken","{% csrf_token %}");
			xhttp.send();//JSON.stringify({"dor": {{data}} }));
		}

		function working(){
			var f = new Date();
			changeText(f.toLocaleTimeString());
		}

		function changeText(text){
			document.getElementById("logOutput").innerHTML = text;
		}

		function setBody( text )
		{

			info = JSON.parse( text );
			changeText( info.logs );
		}

//		#  ['chores', 'wiki', 'whoami', 'database', 'traefik', 'mumble-server', '']
		function checkIfOn( text ){
			info = JSON.parse( text );

			
			if( info.days7 == 'up' )
				document.getElementById("7_days").innerHTML = "Status: Up";
			else
				document.getElementById("7_days").innerHTML = "Status: down";

			if( info.chores == 'up' )
				document.getElementById("chores").innerHTML = "Status: Up";
			else
				document.getElementById("chores").innerHTML = "Status: down";
			
			if( info.database == 'up' )
				document.getElementById("database").innerHTML = "Status: Up";
			else
				document.getElementById("database").innerHTML = "Status: down";

			if( info.mumble == 'up' )
				document.getElementById("mumble").innerHTML = "Status: Up";
			else
				document.getElementById("mumble").innerHTML = "Status: down";

			if( info.traefik == 'up' )
				document.getElementById("traefik").innerHTML = "Status: Up";
			else
				document.getElementById("traefik").innerHTML = "Status: down";

			if( info.whoami == 'up' )
				document.getElementById("whoami").innerHTML = "Status: Up";
			else
				document.getElementById("whoami").innerHTML = "Status: down";

			if( info.wiki == 'up' )
				document.getElementById("wiki").innerHTML = "Status: Up";
			else
				document.getElementById("wiki").innerHTML = "Status: down";
		}

	</script>
	</body>
{% endblock %}
